{% extends "base.html" %}
{% block title %}File Converter{% endblock %}

{% block content %}
<h1>File Converter</h1>

<div class="center-form">
  <a href="{{ url_for('dashboard') }}">← Back to Dashboard</a>
</div>

<hr>

<form action="{{ url_for('convert_file') }}" method="POST" enctype="multipart/form-data" class="center-form">
  <input type="file" name="file" required><br><br>

  <label for="output_format">Convert To:</label><br>
  <select name="output_format" id="output_format">
    <option value="pdf">PDF</option>
    <option value="docx">DOCX</option>
    <option value="png">PNG</option>
    <option value="zip">ZIP</option>
  </select><br><br>

  <button type="submit">Convert</button>
</form>
{% endblock %}
